@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@300&family=Work+Sans:wght@100;300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif&family=Roboto+Slab:wght@200&display=swap');

:root {
    --right: 50%;
    --top: 72%;
    --delay: 100ms;
    --main-color: #e28409;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Work Sans', sans-serif;
}

::-webkit-scrollbar {
    width: 5px;
    opacity: 0;
}
  
::-webkit-scrollbar-track {
    border-radius: 10px;
    opacity: 0;
}
   
::-webkit-scrollbar-thumb {
    background: rgb(0, 0, 0); 
    border-radius: 10px;
}
  

@keyframes sus {
    from {
        opacity: 0;
        transform: scale(0.3);
    }
    
    to {
        opacity: 1;
        transform: scale(1);
        background-color: var(--main-color);
    }
}

@keyframes about {
    from {
        opacity: 0;
        transform: translateX(-30%);
    }
    to {
        opacity: 1;
        transform: translateX(0%);
    }
}

@keyframes aboutsmol {
    from {
        opacity: 0;
        transform: translateY(-50%);
    }
    to {
        opacity: 1;
        transform: translateY(0%);
    }
}




@keyframes fadeunfade {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.stfimg {
    margin-top: 40px;
    margin-left: 30px;
}

td{
    padding: 10px 0px;
}

body {
    background-image: url("./images/background.jpg");
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

.center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 30%;
  left: 80%;
  width: 0rem;
  height: 0rem;
  border-radius: 3rem;
  transform: translate(-50%, -50%)!important;
}

.structure {
    color: #fff;
    background-color: #000;
    text-align: center;
    width: 80%;
    margin: 0 auto;


}

.firepic {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

#header {
    display: flex;
    background-color: var(--main-color);
    color: black;
    transition: all 0.2s;
    justify-content: center;
    max-width: 100%;
    flex-wrap: wrap;
    padding-top: 15px;
    padding-bottom: 15px;
    transition: all .4s ease-in-out;
    position: fixed;
    width: 100%;
    z-index: 100;
    position: fixed;
    top: 0;
    overflow: hidden;
}

#header a {
    padding: 0;
    list-style-type: none;
    margin-left: 20px;
    display: inline-block;
    font-size: 30px;
    text-decoration: none;
    transition: all .4s ease-in-out;
    color: #000;
}


#header h1 {
    float: right;
    margin-right: 60px;
    transition: all .4s ease-in-out;
}




.cerfstuff {
	background-color: black;
	width: 100%;
}


.flexhorizontalcenter {
    display: flex;
    justify-content: center;
}

.transparent {
    opacity: 0;
}


.watermark {
    padding-top: 30px;
    display: flex;
    justify-content: center;
    color: #fff;
}

.watermark a {
    color: var(--main-color);
    text-decoration: none;
}

.mailto {
    color: var(--main-color);
    text-decoration: none;
}

.atext {
    color: var(--main-color);
    padding-top: 20px;
    text-align: center;
    font-size: 16px;
    width: 60%;
    font-family: 'Roboto Slab', serif;
    margin: auto;
    font-weight: 600;
}



.cerf {
    opacity: 0;
    transition: all .4s ease-in-out;
    display: flex;
}

.imagecontainer {
    display: flex;
    justify-content: center;
}

@media (max-width: 810px) {.hw{font-style: 10px!important;}.translatebutton{font-size: 10px!important;}#h1{font-size: 10px!important;}}

.abtsolartuff{
    margin-top: 250px;
    font-size: 50px;
    z-index: 10;
    color: white;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}

#perfect {
    margin-left: -150px;
}

.translatebutton {
    margin-top: 0px;
    font-size: 25px;
    transition: all .3s ease-in-out;
    background: var(--main-color);
    border-radius: 3rem;
    background: none;
    border: none;
    color: #fff;
    font-weight: 900;
    color: #000;
}

.hidden {
    opacity: 0;
}

.translatebutton:hover {
    cursor: pointer;
}

.title {
    color: #fff;
}

.center a {
    text-align: center;
    font-size: 30px;
    margin-top: 15px;
    width: 20vw;
    padding: 10px 0px;
    border: none;
    border-radius: 2rem;
    background-color: var(--main-color);
    transition: all 300ms ease-in-out;
    text-decoration: none;
    color: #000;
    box-shadow: 0px 0px 10px 8px rgba(0,0,0,0.4) inset;
    font-weight: 600;
    font-family: none;
}

.bottom {
    height: auto;
    margin-top: 200px;
    justify-content: center;
    background-color: #000;
}

table td {
    border: 1px solid var(--main-color);
    overflow: hidden;
}

.smallheader {
    font-size: 30px;
    font-weight: 600;
    color: #000;
    text-decoration: none;
    text-align: center;
    padding: 10px 0px;
}

.headercontainer {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
}

  
.ft {
    position: absolute;
    max-width: 960px;
    margin: 0 auto;
    width: 65vw;
    left: 0;
    top: 50%
  }
  
.image-container {
    position: relative;
    width: 100%;
    display: flex; /* use flexbox to align the images */
    justify-content: space-between; /* create a gap between the images */
}
  
#wr, #perfect {
    display: block;
    width: 60%;
    height: auto;
    max-width: 100%;
    object-fit: contain;
}
  
.ft img {
    display: block;
    width: 100%;
    height: auto;
}
  

.fullscreensmall {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #fff;
    opacity: 0;
    z-index: -2;
}

.fullscreensmallactive {
    opacity: 1;
    z-index: 20;
}

.fscactive {
    z-index: 1;
}

.dotdotdot {
    width: 20px;
    opacity: 0;
    transition: all .4s ease-in-out;
}

.dotdotdot:hover{
    cursor: pointer;
}

.d3active {
    opacity: 1;
}

img {
    vertical-align: top;
}

.iiiiii {
    font-size: 25px;
    color: var(--main-color);
    display: flex;
    justify-content: center;
}

table, th, td, tr {
    color: var(--main-color);
    border-spacing: 0;
    border-collapse: separate;
}

.margincenter {
    margin: 0 auto;
}

th, td {
    font-weight: 600;
}

.flex {
    display: flex;

}

.bold {
    color: var(--main-color);
    font-size: 50px;
    font-weight: 900;
    display: flex;
    justify-content: center;
}



.trish {
    position: absolute;
    right: 25%;
    top: 26.55%;
    transform: translate(50%, -35%);
    animation: fade ease-out .5s ;
    z-index: 10;
    transition: all .4s ease-in-out;
    overflow: hidden;
}

.trish:hover {
    height: 550px;
}

.imgactive {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 30vw;
    height: auto;
    z-index: 10;
    transition: all .4s ease-in-out;
    overflow: hidden;
}



.background-focus {
    opacity: 0;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    z-index: -1;
    background-color: #000;
}

.yactive {
    opacity: 0.7;
    z-index: 1;
}


.center a:hover {
    cursor: pointer;
    transform: scale(1.2);
}

.bt1 {
    animation: sus 300ms ease-out;
    animation-fill-mode: backwards;
}

.bt2 {
    animation-duration: 300ms;
    animation-delay: var(--delay);
    animation-name: sus;
    animation-fill-mode: backwards;
}

.bt3 {
    animation-duration: 300ms;
    animation-delay: calc(2 * var(--delay));
    animation-name: sus;
    animation-fill-mode: backwards;
}

.bt4 {
    animation-duration: 300ms;
    animation-delay: calc(3 * var(--delay));
    animation-name: sus;
    animation-fill-mode: backwards;
}

.abanim {
    animation: fadeunfade 1s ;
}

ul {
    list-style: none;
    margin: auto;
}

li {
    color: #e28409;
    font-weight: 900;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: auto;
    width: 80%;
}

li::before {
    content: "\2022";
    color: var(--main-color);
    display: inline-block;
    width: 1rem;
    margin-bottom: 20px;
    font-size: 30px;
}

.active {
	opacity: 1;
	top: 0;
}



#revealPoint {
	position: fixed;
	height: 20px;
	width: 100%;
	left: 0;
	bottom: 150px;
	color: red;
	padding: 7px;
	margin: 0;
	border-bottom: 1px solid red;
}
  
  
.black-bg {
    background-color: #000;
}
  
.footer {
    display: flex;
    justify-content: center;
    color: #fff;
    background-color: #000;
    width: 100%;
}

.xbutton {
     visibility: hidden;
     position: fixed;
     right: 10%;
     top: 20%;
     transform: translate(-50%, -50%);
     font-size: 30px;
     padding: 0px 10px;
     background-color: #f00;
     border: none;
     border-radius: 5rem;
}

.xbutton:hover {
    cursor: pointer;
}

.xactive {
    visibility: visible!important;
    z-index: 3;
} 



.endpagebig {
    font-weight: 900;
    font-size: 20px;
    display: flex;
    justify-content: center;
    color: var(--main-color);
}

@media (max-width: 734px) {
    .ft {
        top:35%;
        left:50%;
        transform: translate(-50%, -50%);
        width: 100vw;
    }

    .imgactive {
        position: fixed;
        left: 50%;
        top: 50%;
        width: 60vw;
    }

    #wr {
        position: absolute;
        left: 50%;
        top: 75%;
        transform: translate(-50%, -50%);
        width: 57%
    }
    
    #perfect {
        opacity: 0!important;
    }

    .translatebutton {
        font-size: 13px!important;
        margin-left: 10px!important;
        margin-top: 0px!important;
    }
    
    .cerf {
        height: 50px;
    }

    table, th, td, tr {
        font-size: 10px;
        height: 1px;
    }

    .abtsolartuff {
        margin-top: 450px;
        font-size: 36px;
        animation: aboutsmol 1s ease-out;
        overflow: hidden;
        color: white;
    }


    .stfimg {
        margin: 0;
        position: absolute;
        top: 10%;
        left: 50%;
        transform: translate(-50%, -50%);
        border-radius: 3rem;
        width: 330px;
        height: 100px;
        width: 90vw;
        height: auto;
    }

    #header h1 {
        font-size: 13px;
    }

    #header a {
        font-size: 13px;
        margin: 0% 10px;
    }

    .center {
        top: 70%;
        left: 50%;
        transform: translate(-50%, -50%);
        border-radius: 3rem;
        margin: 0;
        padding: 0;

    }

    .trish {
        left: 50%!important;
        top: 33%!important;
        transform: translate(-50%, -50%)!important;
        width: 40vw;
        height: auto;
    }

    .center a {
        width: 75vw;
        font-size: 20px!important;
        padding-top: 10px!important;
        padding-bottom: 10px!important;
    }
    
    .bottom {
        margin-top: 100px;
        overflow: hidden;
    }

    .serf {
        height: 50px!important;
    }
    .bold {
        font-size: 30px!important;
    }
    .bottom1 {
        margin-top: 300px!important;
    }
    .iiiiii {
        font-size: 18px!important;
    }
}