@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@300&family=Work+Sans:wght@100;300&family=Noto+Serif&family=Roboto+Slab:wght@200&display=swap');

/* variables */
:root {
    --right: 50%;
    --top: 72%;
    --delay: 100ms;
    --main-color: #e28409;
}

/* keyframes */
@keyframes buttonsIntro {
    from, 0% {
        opacity: 0;
        transform: scale(0.3);
    }
    to, 100% {
        opacity: 1;
        transform: scale(1);
        background-color: var(--main-color);
    }
}

@keyframes titleSlide {
    from {
        opacity: 0;
        transform: translateX(-30%);
    }
    to {
        opacity: 1;
        transform: translateX(0%);
    }
}

@keyframes titleSlideSmall {
    from {
        opacity: 0;
        transform: translateY(-50%);
    }
    to {
        opacity: 1;
        transform: translateY(0%);
    }
}

@keyframes fadeunfade {
    0%, 100% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
}

/* global */
* {
    margin: 0;
    padding: 0;
    font-family: 'Work Sans', sans-serif;
    overscroll-behavior: none;
}

body {
    background-image: url("./images/background.jpg");
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

/* important parts of a website */
header {
    display: flex;
    background-color: var(--main-color);
    color: black;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 1vw 0;
    z-index: 100;
    position: fixed; /* Set the position to fixed */
    top: 0;
    overflow: hidden;
    transition: all 0.3s ease-in-out;
}

header a {
    list-style-type: none;
    margin-left: 20px;
    display: inline-block;
    font-size: 1.5vw;
    text-decoration: none;
    color: #000;
    transition: all 0.3s ease-in-out;
}

img {
    vertical-align: top;
}

.headercontainer {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
}

#homeButton {
    font-weight: bolder;
    margin-right: 30px;
}

.mainTitle{
    margin-top: 238px;
    font-size: 50px;
    z-index: 10;
    color: white;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    animation: titleSlide 1s ease-out;
}

.tripleShield {
    position: absolute;
    right: 15%;
    top: 26%;
    transform: translate(50%, -35%);
    z-index: 10;
    overflow: hidden;
    height: 15vw;
    transition: all 200ms ease;
}

.tripleShield:hover {
    height: 18vw;
}

.translateButton {
    font-weight: 900;
    padding-left: 30px;
}

.translateButton:hover {
    cursor: pointer;
}

.bottom {
    height: 100%;
    margin-top: 180px;
    justify-content: center;
    background-color: #000;
}

.description {
    color: var(--main-color);
    padding-top: 20px;
    text-align: center;
    font-size: 16px;
    width: 60%;
    font-family: 'Roboto Slab', serif;
    margin: auto;
    font-weight: 600;
}

.footer {
	background-color: black;
	width: 100%;
}

.certificate {
    opacity: 0;
    display: flex;
}

.certificatesContainer {
    display: flex;
    justify-content: center;
    transition: all 500ms ease;
}

.watermark {
    padding-top: 30px;
    display: flex;
    justify-content: center;
    color: #fff;
}

.watermark a {
    color: var(--main-color);
    text-decoration: none;
}

.fadeThenUnfadeAnimation {
    animation: fadeunfade 1s;
}

/* index.html */
.solartuffLogo {
    margin-top: 30px;
    margin-left: 40px;
}

.modelContainer {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-left: 3vw
}

.ft {
    position: absolute;
    top: 50%;
    max-width: 960px;
    width: 60vw;
    margin: 0 auto;
}

.ft img {
    display: block;
    width: 100%;
    height: auto;
}

#solartuffObject, #solartuffObjectDescription {
    display: block;
    width: 60%;
    height: auto;
    max-width: 100%;
    object-fit: contain;
}

#solartuffObjectDescription {
    margin-left: -150px;
}

.navigationButton {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 30%;
  left: 80%;
  width: 0rem;
  height: 0rem;
  border-radius: 3rem;
  transform: translate(-50%, -50%);
}

.navigationButton a {
    text-align: center;
    font-size: 30px;
    margin-top: 15px;
    width: 20vw;
    padding: 10px 0px;
    border: none;
    border-radius: 2rem;
    background-color: var(--main-color);
    transition: all 300ms ease-in-out;
    text-decoration: none;
    color: #000;
    box-shadow: 0px 0px 10px 8px rgba(0,0,0,0.4) inset;
    font-weight: 600;
    font-family: none;
}

.button1 {
    animation: buttonsIntro 300ms ease-out;
    animation-fill-mode: backwards;
}

.button2 {
    animation-duration: 300ms;
    animation-delay: var(--delay);
    animation-name: buttonsIntro;
    animation-fill-mode: backwards;
}

.button3 {
    animation-duration: 300ms;
    animation-delay: calc(2 * var(--delay));
    animation-name: buttonsIntro;
    animation-fill-mode: backwards;
}

.button4 {
    animation-duration: 300ms;
    animation-delay: calc(3 * var(--delay));
    animation-name: buttonsIntro;
    animation-fill-mode: backwards;
}

.navigationButton a:hover {
    cursor: pointer;
    transform: scale(1.2);
}

/* productKnowledge.html */
.solartuffAnatomy {
    display: block;
    width: 60vw;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}

.bulletPointsInLetterI {
    font-size: 25px;
    color: var(--main-color);
    display: flex;
    justify-content: center;
}

.heading {
    color: var(--main-color);
    font-size: 50px;
    font-weight: 900;
    display: flex;
    justify-content: center;
}

/* table at productKnowledge.html */
table, th, td, tr {
    color: var(--main-color);
    border-spacing: 0;
    border-collapse: separate;
}

th, td {
    font-weight: 600;
}

td{
    padding: 10px 0px;
}

table td {
    border: 1px solid var(--main-color);
    overflow: hidden;
}

/* contactUs.html*/
.contactUsMainPoint {
    font-weight: 900;
    font-size: 20px;
    display: flex;
    justify-content: center;
    color: var(--main-color);
}

/* small screen */
.smallheader {
    font-size: 30px;
    font-weight: 600;
    color: #000;
    text-decoration: none;
    text-align: center;
    padding: 10px 0px;
}

.fullscreensmall {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #fff;
    opacity: 0;
    z-index: -2;
}

.fullscreensmallactive {
    opacity: 1;
    z-index: 20;
}

.dotdotdot {
    width: 20px;
    opacity: 0;
    
}

.d3active {
    opacity: 1;
}

.foregroundFocus {
    opacity: 0;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    z-index: -1;
    background-color: #000;
}

.exitButton {
    visibility: hidden;
    position: fixed;
    right: 10%;
    top: 20%;
    transform: translate(-50%, -50%);
    font-size: 30px;
    padding: 0px 10px;
    background-color: #f00;
    border: none;
    border-radius: 5rem;
}

.exitButton:hover {
   cursor: pointer;
}

.exitButtonActive {
   visibility: visible;
   z-index: 3;
}

/* triggers */
.activatedHeaderBS {
    padding-top: 0;
    padding-bottom: 0;
    font-size: 1vw;
}

.dotdotdot:hover{
    cursor: pointer;
}

.imgActive {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 30%;
    height: auto;
    z-index: 10;
    overflow: hidden;
}

.headerActivatedHeaderBS {
    padding: 0.5vw
}

/* options */
.margincenter {
    margin: 0 auto;
}

.removeTransition {
    transition: none;
}

.foregroundFocusActive {
    opacity: 0.7;
    z-index: 1;
}

.active {
	opacity: 1;
	top: 0;
    transition: all 500ms ease;
}

.hidden {
    opacity: 0;
}




@media (max-width: 734px) {
    .hw {
        font-style: 10px;
    }

    header {
        justify-content: space-between;
    }

    .translateButton {
        font-size: 6vw;
        padding: 0;
        margin-right: 4vw;
        margin-left: 0;
    }

    .dotdotdot {
        margin-left: 4vw;
        width: 4vw;
    }

    .ft {
        top:35%;
        left:50%;
        transform: translate(-50%, -50%);
        width: 90vw;
    }

    .tripleShield {
        display: block;
        position: static;
        width: 40vw;
        height: auto;
        transform: none;
        margin: 20vw auto 0 auto;
    }

    .tripleShield:hover {
        width: 50vw;
        height: auto;
    }

    .imgActive {
        position: fixed;
        left: 50%;
        top: 50%;
        width: 60vw;
    }

    #solartuffObject {
        position: absolute;
        left: 50%;
        top: 75%;
        transform: translate(-50%, -50%);
        width: 57%
    }
    
    #solartuffObjectDescription {
        opacity: 0;
    }
    
    .certificate {
        height: 50px;
    }

    table, th, td, tr {
        font-size: 10px;
        height: 1px;
    }

    .mainTitle {
        margin-top: 20vw;
        font-size: 10vw;
        animation: titleSlideSmall 1s ease-out;
        overflow: hidden;
        color: white;
    }


    .solartuffLogo {
        margin: 0;
        position: absolute;
        top: 10%;
        left: 50%;
        transform: translate(-50%, -50%);
        border-radius: 3rem;
        width: 330px;
        height: 100px;
        width: 90vw;
        height: auto;
    }

    #home1 {
        font-size: 13px;
    }

    header a {
        font-size: 13px;
        margin: 0% 10px;
    }

    .navigationButton {
        top: 70%;
        left: 50%;
        transform: translate(-50%, -50%);
        border-radius: 3rem;
        margin: 0;
        padding: 0;

    }

    .navigationButton a {
        width: 75vw;
        font-size: 20px;
        padding-top: 10px;
        padding-bottom: 10px;
    }
    
    .bottom {
        margin-top: 10vw;
        overflow: hidden;
    }

    .serf {
        height: 50px;
    }
    .heading {
        font-size: 10vw;
    }
    .bottom1 {
        margin-top: 300px;
    }
    .bulletPointsInLetterI {
        font-size: 18px;
    }
    .activatedHeaderSS {
        padding-top: 0;
        padding-bottom: 0;
        font-size: 4vw!important;
    }

    #homeButton {
        font-size: 6vw;
        margin: 0;
    }
    .headerActivatedHeaderSS {
        padding: 0.5vw;
    }
}

